body {
    margin: 0;
}

h1, body{
  color: #fff;
  font-family: sans-serif;
}
body{
  background: rgba(31, 41, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#password-generator{
  width: 550px;
}

#heading-green{
  color: rgba(74, 223, 134, 1);
}

button{
  background-color: rgba(74, 223, 134, 1);
  padding: 9px 17px 9px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#passwords{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.password-input{
  background: rgba(39, 53, 73, 1);
  height: 39px;
  width: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
}
